.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.slds-card__body_inner {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.slds-input,
.slds-button,
.slds-dropdown-trigger .slds-button {
  height: 32px;
}



.slds-button-group .slds-button {
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.slds-form-element__control {
  line-height: 32px;
}
.slds-table td {
  padding: 0.25rem 0.5rem;
}
.slds-table th {
  padding: 0.25rem 0.5rem;
}

.slds-input-has-icon .slds-input__icon {
  width: .875rem;
  height: .875rem;
  position: absolute;
  top: 50% !important;
  margin-top: -.4375rem;
  line-height: 1;
  border: 0;
  z-index: 2;
}

.slds-m-right--small, .slds-m-right_small {
  margin-right: 0 !important;
}


.slds-context-bar__item {
  
  max-width: 20rem !important;
}

.slds-m-right--x-small, .slds-m-right_x-small {
  margin-right: 2px !important;
}

